{% extends 'detentionnav.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static '../static/css/designs.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>List of students</title>
  </head>
  <body>

    {% block content %}
    <main>
    <div>{% include 'includes/pagination.html' %}</div>
    {% comment %} <a href="{% url 'teacher-add' %}" class="btn btn-outline-primary">Add New Teacher</a><br> {% endcomment %}
    <section class="teachers-container">
      <table class="styled-table">
        <tbody>
          <tr>
            <th>Student Name</th>
            <th>Ordered By</th>
            <th>On</th>
            <th>Starting</th>
            <th>Duration</th>
            <th>Reason</th>
            <th>Fines</th>
            <th>Status</th>
          </tr>

          {% for object in object_list %}

          <!--objects-->
            <td>{{ object.student.first_name }} {{ object.student.last_name }}</td>
            <td>{{ object.teacher.name }}</td>
            <td>{{ object.incident_time }}</td>
            <td>{{ object.start_time }}</td>
            <td>{{ object.duration }}</td>
            <td>{{ object.reason }}</td>
            <td>{{ object.fines }}</td>
            <td>{% if object.is_resolved %}Resolved{% else %}In effect{% endif %}</td>
          </tr>
          {% empty %}
          <tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
  {% endblock %}
  {% include 'includes/footer.html' %}
  </body>
</html>
