{% extends 'subjectnav.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static '../static/css/designs.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>List of students</title>
  </head>
  <body>

    {% block content %}
    <!--Subjects-->
    <main>
    <div>{% include 'includes/pagination.html' %}</div>
    {% comment %} <a href="{% url 'teacher-add' %}" class="btn btn-outline-primary">Add New Teacher</a><br> {% endcomment %}
    <section class="teachers-container">
      <table class="styled-table">
        <tbody>
          <tr>
            <th>Subject Name</th>
            <th>Code</th>
            <th>Units</th>
            <th>Laboratory</th>
            <th>Prerequisite</th>
          </tr>

          {% for object in object_list %}

          <!--objects-->
            <td>{{ object.subject_name }}</td>
            <td>{{ object.code }}</td>
            <td>{{ object.units }}</td>
            <td>{% if object.lab %}Yes{% else %}No{% endif %}</td>
            <td>
                {% if object.prerequisite %}
                    {{ object.prerequisite.code }}
                {% else %}
                    None
                {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
  {% endblock %}
  {% include 'includes/footer.html' %}
  </body>
</html>
